[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nimmagaddarajesh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nimmagaddarajesh
	label-Verified = -1..+1 group user/nimmagaddarajesh
	push = group user/nimmagaddarajesh
	read = group user/nimmagaddarajesh
	rebase = group user/nimmagaddarajesh
	removeReviewer = group user/nimmagaddarajesh
	submit = group user/nimmagaddarajesh
[access "refs/heads/*"]
	create = group user/nimmagaddarajesh
	push = +force group user/nimmagaddarajesh
	pushMerge = group user/nimmagaddarajesh
	read = group user/nimmagaddarajesh
[access "refs/tags/*"]
	push = group user/nimmagaddarajesh
	push = +force group user/nimmagaddarajesh
